<h2 mat-dialog-title>Emprunter "{{ data.resourceTitle }}"</h2>

<mat-dialog-content>
  @if (getAvailableCopies().length === 0) {
    <div class="no-copies">
      <p>Aucun exemplaire disponible pour le moment.</p>
    </div>
  }

  @if (getAvailableCopies().length > 0) {
    <div>
      <p>Veuillez sélectionner un exemplaire à emprunter :</p>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Exemplaire</mat-label>
        <mat-select [(value)]="selectedCopyId">
          @for (copy of getAvailableCopies(); track copy; let i = $index) {
            <mat-option
              [value]="copy.id"
              >
              Exemplaire {{ i + 1 }}
              @if (copy.condition) {
                <span>({{ copy.condition }})</span>
              }
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div class="borrowing-info">
        <p>
          <mat-icon color="primary">info</mat-icon>
          L'emprunt sera disponible pour une durée de 14 jours.
        </p>
      </div>
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()" [disabled]="loading">Annuler</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onConfirm()"
    [disabled]="!selectedCopyId || loading || getAvailableCopies().length === 0"
    >
    @if (loading) {
      <mat-spinner
        [diameter]="20"
        class="spinner-button"
      ></mat-spinner>
    }
    @if (!loading) {
      <span>Emprunter</span>
    }
  </button>
</mat-dialog-actions>
