/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Styles pour les notifications Snackbar */
.success-snackbar {
  background-color: #4caf50;
  color: white;

  .mat-simple-snackbar-action {
    color: white;
  }
}

.error-snackbar {
  background-color: #f44336;
  color: white;

  .mat-simple-snackbar-action {
    color: white;
  }
}

.info-snackbar {
  background-color: #2196f3;
  color: white;

  .mat-simple-snackbar-action {
    color: white;
  }
}

.warning-snackbar {
  background-color: #ff9800;
  color: white;

  .mat-simple-snackbar-action {
    color: white;
  }
}
